<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>Hello Dev!</h1>
    <h2>Register</h2>

    <form action="/register" method="post">
        <!-- Input field for name -->
        <input type="text" name="name" placeholder="Name" autofocus required>

        <!-- Dropdown for selecting a sport -->
        <select name="sport" required>
            <option disabled selected value="">Sport</option>
            <option>Basketball</option>
            <option>Monopoly</option>
            <option>Chess</option>
            <option>Hockey</option>
        </select>

        <!-- Submit button -->
        <input type="submit" value="Register">
    </form>
</body>

</html>